*
{
    box-sizing: border-box;
}
#box1
{
    width: 200px;
    height: 200px;
    background-color: hsl(160, 76%, 65%);
    position:static;
    top:100px;
    left:100px;
}

#box2
{
    width: 100px;
    height: 100px;
    background-color: rgb(127, 155, 255);
    position:absolute;
    top:100px;
    left:100px;
}
.boxen
{
    width: 100px;
}
aside
{
    width:20%;
    float:left;
    padding:10px;
    text-align: center;
}
section
{
    width:40%;
    float:left;
    padding:10px;
    text-align: center;
}
article
{
    width:40%;
    float:left;
    padding:10px;
    text-align: center;
}
footer
{
    clear:both;
}